.map{
 width: 80vw;
 height: 80vh;
 padding: 0;
}
.hisharpcluster {
  width: 40px;
  height: 40px;
  background-color: greenyellow;
  text-align: center;
  font-size: 24px;
}
.asacluster {
  width: 40px;
  height: 40px;
  background-color: red;
  text-align: center;
  font-size: 24px;
}
