<div class="flex-container color1">
  <!-- 左邊列表 -->
  <div class="left color2">
    <mat-card class="mat-elevation-z2" *ngFor="let item of videolist" style="padding: 0px;">
      <!-- <div (click)="onVideoclick($event,item)">
        <mat-video [preload]="false" [overlay]="false">
          <source matVideoSource src={{item.src}} type="video/mp4">
        </mat-video>
      </div> -->

    </mat-card>
  </div>
  <div class="right color3">
    <div class="mainplayer color4">

      <!-- <mat-video #mainvideoid [preload]="true" [fullscreen]="false">
        <source matVideoSource src={{mainvideo.src}} type="video/mp4">
      </mat-video> -->
    </div>
    <div class="gsensorinfo color5">
      <div (click)="TestClick($event)">
        <div>
          <!-- <video #myvideo preload="metadata">
            <source src="https://www.w3schools.com/html/mov_bbb.mp4#t=0.5" type="video/mp4">
          </video> -->
          <app-mat-video [playFreeze]="true">
            <source src="https://www.w3schools.com/html/mov_bbb.mp4#t=0.5" type="video/mp4">
          </app-mat-video>
        </div>
      </div>


    </div>
  </div>
</div>
